body{
    background-color:bisque;
    
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color:rgb(240, 208, 156);
    text-align: center;
    border: 7px;
    border-radius: 15px;
} 

ul{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 border-radius: 15px;
}

#book{
    width: 20%; 
    height: 300px;
    margin: 10px;
   padding: 15px; 
   border: 2px;
  border-radius: 15px;
  text-align:center;
  float: left;
}

#img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    display: block;
   flex: 200px;
   
   
}

#link{
    background-color:rgb(249, 214, 159);
    text-decoration:none;
    border-radius: 15px;
    padding: 5px;
    border-style:double;
    width: 5px;
    border-style: double;
    border-color:rgb(249, 214, 159);
    border-width:thick;
    color:black;
    justify-content: space-between;
    white-space:nowrap;

}
#sec3{
    clear: both;
    border-style: groove;
    background-color:rgb(249, 214, 159);
    text-align: center;
}
@media screen (max-width:600px){
    .img{
        width:85%;
    }
}



    

